# DB

export DB_CONNECTION_STRING="host=localhost port=5435 user=postgres password=password dbname=postgres sslmode=disable"

# Goose
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="${DB_CONNECTION_STRING}"
export GOOSE_MIGRATION_DIR="db/migration"

# local scripts & shit
export PATH="$(pwd)/bin:${PATH}"
